{% extends 'base.html' %}
{% block content %}
<h1>Detalhes de {{ model_name|capfirst }}</h1>

{% for field_name, field_value in fields %}
    <p><b>{{ field_name|capfirst }}:</b> {{ field_value }}</p>
{% endfor %}

<a class="btn btn-primary mb-3" href="{% url 'update' model_name=model_name pk=instance.pk %}">Editar</a>
<a class="btn btn-primary mb-3" href="{% url 'delete' model_name=model_name pk=instance.pk %}">Excluir</a>
<a class="btn btn-primary mb-3" href="{% url 'list' model_name=model_name %}">Voltar para a Lista</a>
{% endblock %}