{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
    <title>Menu Principal</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Menu Principal</h1>

    {% for model_name, model_title in models.items %}
    <div class="model-section">
        <h2>{{ model_title }}</h2>
        <ul>
            <a class="btn btn-primary mb-3"  href="{% url 'list' model_name=model_name %}">Visualizar</a>
            <a class="btn btn-primary mb-3"  href="{% url 'create' model_name=model_name %}">Criar</a>
        </ul>
    </div>
    {% endfor %}

    <div class="model-section">
        <h2>Dashboard</h2>
        <ul>
            <a class="btn btn-primary mb-3"  href="{% url 'dashboard' %}" class="button">Visualizar</a>
        </ul>
    </div>
</body>

</html>
{% endblock %}