<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabela com Bootstrap</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Bootstrap JS e dependências -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html>
<head>
    <title>Tabela de Companhias Abertas</title>
</head>
<body>
    <h1>Lista de Empresas</h1>
    {% render_table table %}
</body>
</html>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if table.paginator.num_pages > 1 %}
            {% for page in table.paginator.page_range %}
                <li class="page-item {% if page == table.page.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</nav>
